<!--{% extends "base.html" %}-->

<!--{% block content %}-->
<!--    <h1> This is tests authentication users</h1>-->

<!--      <div>-->
<!--           <form method="post" action="{% url 'login' %}">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_p }}-->
<!--            <button type="submit">Войтититтт</button>-->
<!--            </form>-->
<!--            <p>-->
<!--                <a href="{% url 'register' %}"><button type="submit">Зарегестрироваться</button> </a>-->
<!--            </p>-->

<!--      </div>-->
<!--{% endblock content %}-->



